.form-control.login-user {
    border: 0 solid #fff !important;
  }

  .menus{
    background-color: #5ebb7a;
    border-color: #000000;
    margin-right: 12px;
    color: #FFF;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .btn-success{
    margin-left: 30;
    margin-right: 30;
    background-color: #3f9458;
    border-color: #000000;
    color: #FFF;
    border-radius: 5px;
    font-size: 18px;
  }