<nav class="navbar navbar-expand-md align-items-center bg-dark fg">
  <a class="navbar-brand hhhh" routerLink="/">{{app_name}}</a>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="adminLogged">
        <a class="nav-link menus" routerLink="/adminProfile"> Perfil </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="studentLogged">
        <a class="nav-link menus" routerLink="/profileview"> Perfil</a>
      </li>
      <li class="nav-item" *ngIf="studentLogged">
        <a class="nav-link menus" routerLink="/messagecenter"> Mensajes</a>
      </li>
    </ul>
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="logout">
        <a class="nav-link menus" routerLink="/adminview"> Perfil Administrador </a>
      </li>
      <li class="nav-item" *ngIf="logout">
        <a class="nav-link menus" routerLink="/employeview"> Perfil Empleador </a>
      </li>
      <li class="nav-item" *ngIf="logout">
        <a class="nav-link menus" routerLink="/libraryview"> Sistema Librería </a>
      </li>
      <li class="nav-item" *ngIf="logout">
        <a class="btn btn-success" routerLink="/"> Login </a>
      </li>
      <li class="nav-item" *ngIf="logout">
        <a class="btn btn-success" routerLink="/verifyRegister"> Register </a>
      </li>
      <li class="nav-item" *ngIf="!logout">
        <a routerLink="/" class="btn btn-success" (click)="onLogout()">Salir </a>
      </li>
    </ul>
  </div>
</nav>