.fg{
    color: white;
}

.hhhh{
  color: white;
  font-size: 30px;
  margin-top: 5px;
}

.nav{
  background-color: #353831;
}

.menus{
  background-color: #177a35;
  border-color: #000000;
  margin-right: 12px;
  color: #FFF;
  border-radius: 5px;
  font-size: 18px;
}

.btn-success{
  margin-left: 18;
  margin-right: 15;
  border-color: #FFF;
  font-size: 18px;
}