<div class="nav d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sm">
  <h3 class="my-0 mr-md-auto fg font-weight-strong">
    MercaditoTEC
  </h3>
  <nav class="my-2 my-md-0 mr-md-3 navBar">
    <div class="row"> 
      <div>
        <a class="btn btn-primary menus" routerLink="/adminview"> Perfil Administración </a>
      </div>

      <div>
        <a class="btn btn-primary menus" routerLink="/employerview"> Perfil Empleador </a>
      </div>

      <div>
        <a class="btn btn-primary menus" routerLink="/libraryview"> Sistema Librería </a>
      </div>

      <div>
        <!-- <a class="btn btn-primary btn-register" [routerLink]="'/register'">Sign up</a> -->
        <a class="btn btn-outline-secondary btn-register" routerLink="/verifyRegister"> Registrarse</a>
      </div>
    </div>
  </nav>
</div>