.fg{
    color: white;
}

.hhhh{
  color: white;
  font-size: 30px;
  margin-top: 5px;
}

.nav{
  background-color: #353831;
}

.menus{
  background-color: #5ebb7a;
  border-color: #000000;
  margin-right: 12px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
}

.btn-success{
  margin-left: 30;
  margin-right: 30;
  background-color: #3f9458;
  border-color: #000000;
  color: #FFF;
  border-radius: 5px;
  font-size: 18px;
}