<section id="homepageAdmin" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_homepageAdmin">
            <div class="card">
              <div class="card-body ">
  
                <h1 class="h3 mb-3 font-weight-normal text-center" >Vista de Administrador</h1>
                
                <button routerLink="/homepage"
                class="btn btn-lg btn-success btn-block text-center" >
                Gestionar Categorias
                </button>
  
                <button routerLink="/tutorview"
                class="btn btn-lg btn-success btn-block text-center" >
                Gestionar Puntos de Canje
                </button>
  
                <button routerLink="/homepage"
                class="btn btn-lg btn-success btn-block text-center" >
                Registrar Administrador
                </button>
  
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>