.menus{
    background-color: #5ebb7a;
    border-color: #000000;
    margin-right: 12px;
    color: #FFF;
    border-radius: 5px;
    font-size: 18px;
  }

  .btn-success{
    background-color: #3f9458;
    border-color: #000000;
    margin-right: 12px;
    color: #FFF;
    border-radius: 5px;
    font-size: 18px;
  }