<h1 class=" mb-3 font-weight-normal text-center" >Bienvenido a MercaditoTEC</h1>

<section id="homepage" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_homepage">
          <div class="card">
            <div class="card-body ">
              
              <button routerLink="/homepage"
              class="btn btn-lg btn-success btn-block text-center" >
              Servicio de Tutorías
              </button>

              <button routerLink="/tutorview"
              class="btn btn-lg btn-success btn-block text-center" >
              Dar Tutorias
              </button>

              <button routerLink="/homepage"
              class="btn btn-lg btn-success btn-block text-center" >
              Ofertas Laborales
              </button>

              <button routerLink="/messagecenter"
              class="btn btn-lg btn-success btn-block text-center" >
              Chats
              </button>

              <button routerLink="/homepage"
              class="btn btn-lg btn-success btn-block text-center" >
              Notificaciones
              </button>

              <button routerLink="/profileview"
              class="btn btn-lg btn-success btn-block text-center" >
              Perfil
              </button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>