<section id="register" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_register">
          <div class="card">
            <div class="card-body ">
              <form #formRegister="ngForm" (ngSubmit)="onRegister(formRegister)">
                <h1 class="h3 mb-3 font-weight-normal text-center" *ngIf="!isError">Registro a MercaditoTEC</h1>
                <br>
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                  Something is wrong!
                </div>
                <div class="form-group">
                  <label >Nombre</label>
                  <input type="text" id="nombre" name="nombre" class="form-control text-center" [(ngModel)]="register.nombre" required>
                </div>
                <div class="form-group">
                  <label>Apellidos</label>
                  <input type="text" id="apellidos" name="apellidos" class="form-control text-center" [(ngModel)]="register.apellidos" required>
                </div>
                <div class="form-group">
                  <label >Teléfono</label>
                  <input type="text" id="telefono" name="telefono" class="form-control text-center" [(ngModel)]="register.telefono" required>
                </div>
                <div class="form-group">
                  <label>Correo Institucional</label>
                  <input type="email" id="correoInstitucional" name="correoInstitucional" class="form-control text-center" placeholder="user@estudiantec.cr" [(ngModel)]="register.correoInstitucional" required>
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block text-center">Registrarme</button>
                <div class="form-group">
                  <a routerLink="/" class="form-control login-user text-center"> Cancelar </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
